body {
    width: 70%;
    margin: 0 auto;
}

main {
    margin: 10px 0 0 0;
}

.form {
    margin: 10px 0;
}

.form .form-group {
    width: 92%;
    float: left;
    margin-right: 10px;
}

.forms {
    height: 98px;
}

.form .btn {
    float: left;
}

.hidden {
    display: none;
}

.title, .actions {
    float: left;
}

.title {
    width: 70%;
}

.actions {
    width: 30%;
}

.list {
    margin-top: 10px;
}